*
{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins','sans-sarif'; 
    box-sizing: border-box;

}
body
{
    background: black;
    color: white;

}
.header
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg    ); 
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;

}
nav 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}
.logo
{
    width: 150px;
   
}
nav button
{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    width: 100px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    margin: 5px;
}
.language-btn
{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;

}

.language-btn img
{
    width: 10px;
    margin-left: 10px;
}
.header-content
{
    position: absolute;
    margin-top: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;


}
.header-content h1
{
 font-size: 60px;
 line-height: 65px;
 font-weight: 600;
 max-width: 700px;
}
.header-content h3
{
    font-weight: 600;
    margin-bottom: 20px;

}
.email-signup
{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30;
    overflow: hidden;

}
.email-signup input
{
    height: 30px;
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 15px;
    margin: 5px;
    font-size: 15px;
}
.email-signup button
{
    background: #db0001;
    border: 0;
    outline : 0; 
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 30px; 
}
.header-content p
{
    margin-bottom: 18px;
    font-weight: 530;

}
/* features section css */
.features
{
    padding: 50px 12%;
    font-size: 22px;


}
.row
{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
}
.text-col
{
    flex-basis: 50%;
    margin-bottom: 30px;
    

}
.img-col
{
    flex-basis: 50%; 
    margin-bottom: 20px;
}
.img-col img
{
    display: block; 
    width: 90%; 
    margin: auto; 
    

}
.features h2
{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 15px;

}
/* FAQs */
.faq
{
     padding: 10px 12%;
     text-align: center;
     font-size: 18px;
}    
.faq h2
{
    font-size: 30px;
    font-weight: 400;
}
.accordian
{
    margin: 40px auto;
    width: 100%;
    max-width: 800px;
}
.accordian li
{
    list-style: none;
    width: 100%;
    padding: 10px;
}
.accordian li label
{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    background: #303030;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
}
label::after
{
    content: '+';
    font-size: 25px;
    position: absolute;
    right: 20px;
    font-weight: 700;
    transition: transform 0.5s;

}
input[type = "radio"]
{
    display: none;
}
.accordian .content
{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0 ;
    overflow: hidden; 
    transition: max-height 0.7s, padding 0.3s;

}
.accordian input[type = "radio"]:checked + label + .content
{
    max-height: 800px;
    padding: 20px 10px;
}
.accordian input[type = "radio"]:checked + label::after
{
    transform: rotate(135deg);

}
.faq .email-signup
{
    max-width: 600px;
    margin: 20px auto 60px;
}
.faq small
{
  font-size: 18px;

}
.footer
{
    padding: 50px 15% 10px;
    border-top: 5px solid #333;
    color: #777;
}
.footer h2
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;

}
.footer .col
{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a
{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 15px;
    margin-bottom: 12px;
}
.footer .row
{
    align-items: flex-start;
    padding: 10px 0;

}
.footer .language-btn
{
    color: #fff;
    border-radius: 5px;
    padding: 10px 18px;
}
.copyright-txt
{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;

}
/* media query */
@media only screen and (max-width : 600px)
/* only for small screen devices */
{
    .logo{
        width: 100px;
    }
    nav button{
       padding : 5px 10px;
    }
    nav .language-btn
    {
        padding: 4px 8px;
    }
    .header-content{
        position:unset;
        transform: none;
        padding-top: 150px;
    }
    .header-content h1
    {
        font-size: 30px;

    }
    .email-signup button{
        font-size:12px ;
        padding: 10px 15px;
    }

    .text-col , .img-col{
        flex-basis: 100%;
    }
    .features h2{
        font-size: 30px;
    }
    .features p{
        font-size: 20px;
    }
    .row:nth-child(2), .row:nth-child(4){
        flex-direction: column-reverse ;
    }
    .features.row{
        padding: 10px 0;
    }
    .faq h2{
        font-size: 20px;

    }
    .accordian .content{
        font-size: 14px;
    }
    .accordian li label{
          padding: 10px;
          font-size: 14px;
    }


}

